
/*declando as variáveis de cores*/
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: ##C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    /*colocamos a imagem aqui no css e não pela tag img no index porque ela é decorativa*/
    background-image: url("img/Background.png");
    /*para não repetir o background*/
    background-repeat: no-repeat;
    /*fazer o background ocupar ou preenche todo o container que é a saction*/
    background-size: contain;
}

/*significa viewport height que significa a altura da tela do dispositivo e ele usa 100% dela por cousa do vh*/
.container {
    height: 100vh;    
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    /*faz o botão ocupar o bloco inteiro*/
    display: block;
}